<!DOCTYPE html>
<html>
  <head>
    <title>brumbiki</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript">
      function showPopup(url) {
        newwindow=window.open(url,'name','height=490,width=520,top=200,left=300,resizable');
        if (window.focus) {newwindow.focus()}
      }
    </script>
  </head>
  <body>

    <nav>
      <% if current_user %>
        <div id="search-container">
          <%= form_tag({}, { class: "search-form" }) do %>
            <input id="search-bar" name="search-bar" type="text" placeholder="@username">
            <i id="search-icon" class="fa fa-search"></i>
          <% end %>
        </div>
      <% end %>

      <a id="nav-brumbiki" href="/">brumbiki</a>

      <% if current_user %>
        <a class="login-logout" href="/logout">Logout</a>
      <% else %>
        <a class="login-logout" href="/auth/twitter">Login</a>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
